@model IEnumerable<Music_Store.Models.Song>

@{
    var predefinedGenres = new List<string> { "Rock", "Pop", "Jazz", "Classical", "Hip Hop", "Electronic" };

    var presetSongs = new List<dynamic>
    {
        new { Title = "Song 1", Artist = "Artist 1" },
        new { Title = "Song 2", Artist = "Artist 2" },
        // placeholder presets
    };
}

<h1>Browse Music</h1>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Search: <input type="text" name="searchString" />
        <select name="searchField">
            <option value="genre">Genre</option>
            <option value="performer">Performer</option>
        </select>
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Performer)
                </td>
                <td>
                    <a asp-action="AddToCart" asp-route-id="@item.Id">Add</a>

                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    function submitForm() {
        var selectedGenre = document.getElementById('genres').value;

        document.getElementById('artistsList').style.display = 'block';
    }
</script>